<form action="/create" method="POST">
  <h2>Create todo</h2>
  <div class="input-field">
    <input id="title" type="text" name="title" class="validate">
    <label for="title">Title todo</label>
  </div>
  <button type="submit" class="btn purple darken-4">Create</button>
</form>